.empty-section {
    text-align: center;
    opacity: 0.7;
    font-size: 2em;

    img {
        filter: grayscale(100%);
    }

    .philosophical-text {
        animation: 15s linear infinite forwards swing-animation;
    }
}

// yoinked from mrpowergamerbr.com :P
@keyframes swing-animation {
    0%, 50%, 100% { transform: rotate(0deg); animation-timing-function: ease-out; }
    25% { transform: rotate(2deg); animation-timing-function: ease-in; }
    75% { transform: rotate(-2deg); animation-timing-function: ease-in; }
}