.button {
    padding: .5em 1em;
    box-sizing: border-box;
    border-radius: 6px;
    margin-left: 5px;
    margin-right: 5px;
    transition: .75s;
    text-decoration: none;
    display: inline-block;
    border: 0;

    &.has-shadow {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    }

    &.is-big {
        font-size: 1.25em;
    }

    &.is-inline {
        display: inline-flex;
    }

    &:hover {
        cursor: pointer;
    }

    &[disabled] {
        cursor: not-allowed;
        opacity: 0.5;
    }
}

@mixin button-color($element-name, $color) {
    .button {
        &.#{$element-name} {
            background-color: $color;
            color: white;

            &:hover {
                background-color: darken($color, 10%)
            }

            &.has-shadow:hover {
                box-shadow: 0 0 15px $color, 0 0 15px $color, 0 0 15px $color;
            }
        }
    }
}

@mixin lovely-button-colors() {
    @include button-color("primary", $primary-color);
    @include button-color("red", red);
    @include button-color("pink", #fe29a6);
    @include button-color("light-green", #37ef8d);
    @include button-color("purple", #8d37ef);
    @include button-color("black", #000000);
    @include button-color("xtwitter", #3b3b3c);
}
