#content {
    flex: 1; // Required for the sticky footer

    // Required so our inner-content grows, so pages with small content won't have their background "broken"
    display: flex;
    flex-direction: column;
}