@keyframes fade-in-left {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fade-in-left {
  -webkit-animation-name: fade-in-left;
  animation-name: fade-in-left;
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fade-in-right {
  -webkit-animation-name: fade-in-right;
  animation-name: fade-in-right;
}

.fade-in-up {
  -webkit-animation-name: fade-in-up;
  animation-name: fade-in-up;
}

.animated {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  &.reversed {
    animation-direction: reverse;
  }

  &.half-second {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s; 
  }
  
  &.duration-one-second {
    -webkit-animation-duration: 1s;
    animation-duration: 1s; 
  }
  
  &.duration-two-seconds {
    -webkit-animation-duration: 2s;
    animation-duration: 2s; 
  }
  
  &.duration-three-seconds {
    -webkit-animation-duration: 2s;
    animation-duration: 2s; 
  }
  
  &.delayed-one-second {
    animation-delay: 1s;
  }
  
  &.delayed-two-seconds {
    animation-delay: 2s;
  }
  
  &.delayed-three-seconds {
    animation-delay: 3s;
  }
}

@-webkit-keyframes shake-animation {
	0% { transform: translate(2px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(0px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(2px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(2px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake {
	-webkit-animation-name: shake-animation;
	-webkit-animation-duration: 0.5s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	overflow: hidden;
}