.color-picker-wrapper {
    display: flex;
    gap: 1em;
    flex-direction: column;

    .color-picker-elements {
        display: flex;
        gap: 1em;
        // Wrap if it doesn't fit
        flex-wrap: wrap;
        // Centralize the items (good for mobile)
        align-items: center;
        // And justify it!
        justify-content: center;

        .color-picker-box-and-hue {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1em;

            .color-picker-color-preview {
                width: 100%;
                height: 20px;
                border-radius: 3px;
            }

            .color-picker-box-wrapper {
                display: flex;
                gap: 0.5em;

                .color-picker-box {
                    position: relative;
                    width: 220px;
                    height: 220px;
                    cursor: crosshair;

                    .color-picker-box-handle {
                        width: 8px;
                        height: 8px;
                        position: absolute;
                        border-radius: 50%;
                        border: 1px solid white;
                        box-shadow: 0px 0px 1px black;
                        pointer-events: none;
                        transform: translateX(-4px) translateY(4px);
                    }
                }
            }

            .color-picker-hue-slider {
                background: linear-gradient(to top, #f00 0%, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, #f00 100%);
                width: 15px;
                height: 220px;
                position: relative;
                cursor: pointer;

                .color-picker-hue-slider-handle {
                    width: 100%;
                    height: 6px;
                    background-color: white;
                    position: absolute;
                    border-radius: 1px;
                    transform: scale(1.5) translateY(50%);
                    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
                    pointer-events: none;
                }
            }
        }

        .color-picker-values-grid {
            display: grid;
            grid-row-gap: 0.5em;
            grid-template-columns: auto 1fr auto;
            grid-auto-rows: min-content;

            .color-picker-value-label {
                display: flex;
                justify-content: end;
                align-items: center;
                padding-right: 0.5em;
            }

            input {
                // Decrease the input sizes, we don't need a big ass input just for smol input values
                width: 7em;
            }

            .color-picker-value-end-label {
                display: flex;
                justify-content: start;
                align-items: center;
            }
        }
    }

    .color-picker-random-buttons {
        display: flex;
        flex-direction: row;
        gap: 0.5em;
        justify-content: center;
    }
}

.discord-color-selector {
    display: flex;
    gap: 0.5em;
    justify-content: center;
    flex-wrap: wrap;

    .big-color-swatch {
        border-radius: 3px;
        width: 50px;
        height: 50px;

        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        border: 1px solid var(--soft-border-color);
        cursor: pointer;
        background-color: #99aab5;
        position: relative;
        flex-grow: 1; // Let the swatch use the rest of the space

        .selected-icon {
            width: 60%;
            height: 60%;
            animation: selected-swatch 0.2s;
        }

        .eye-dropper-icon {
            position: absolute;
            // 1% looks more aesthetically pleasing owo
            right: 1%;
            top: 2px;
            width: auto;
            height: 25%;
        }
    }
}

.quick-color-palette {
    display: flex;
    gap: 0.5em;
    // Wrap if it doesn't fit
    flex-wrap: wrap;
    // And centralize the colors (useful if it wrapped)
    justify-content: center;

    .quick-color-swatch-combo {
        display: flex;
        gap: 0.5em;
        flex-direction: column;
    }

    .quick-color-swatch {
        border-radius: 3px;
        width: 20px;
        height: 20px;

        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        border: 1px solid var(--soft-border-color);
        cursor: pointer;

        svg {
            width: 0.85em;
            height: 0.85em;
            animation: selected-swatch 0.2s;
        }
    }
}

.gabriela-color-preview {
    position: relative;
    width: 150px;
    height: 250px;
    animation: gabriela-previewer-breathing 1.5s infinite alternate ease-in-out;
    transform-origin: center bottom;
}

@keyframes selected-swatch {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  90% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes gabriela-previewer-breathing {
  0% {
    transform: scaleY(100%);
  }
  100% {
    transform: scaleY(98%);
  }
}