.custom-commands-web-animation {
    max-height: 100%;
    animation: custom-commands-loritta-breathing 1.5s infinite alternate ease-in-out;
    transform-origin: center bottom;

    width: 100%;
    height: 100%;
    object-fit: contain;
}

@keyframes custom-commands-loritta-breathing {
  0% {
    transform: scaleY(100%);
  }
  100% {
    transform: scaleY(98%);
  }
}