.toggleable-sections {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.toggleable-section {
    // We can't use overflow: hidden here because that breaks select menu's menus! (they don't overflow)
    background-color: var(--secondary-element-background-color);
    border-radius: var(--second-level-border-radius);
    border: 1px solid var(--input-border-color);
    --input-background-color: var(--input-secondary-element-background-color);

    .toggleable-selection {
        background-color: var(--interactive-element-background-color);
        padding: 20px;
        border-radius: var(--second-level-border-radius);

        &.is-open {
            border-radius: var(--second-level-border-radius) var(--second-level-border-radius) 0px 0px;
            border-bottom: 1px solid var(--input-border-color);
        }
    }

    .toggleable-content {
        padding: 10px 20px 20px 20px;
    }

    // Used in position: absolute; divs to reset the input to their default color
    .reset-theme-variables {
        --input-background-color: var(--OG-input-background-color);
    }
}

label.toggle-wrapper {
    display: flex;
    cursor: pointer;

    input {
        display:none;
    }

    .toggle-information {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 0.25em;
        justify-content: center;

        .toggle-title {
            font-weight: 600;
        }

        .toggle-description {
            opacity: 0.8;
        }
    }
}

.switch-slider {
    background-color: #72767d;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
    display: inline-block;
    min-height: 24px;
    position: relative;
    min-width: 42px;
}

.switch-slider:before {
    background-color: #fff;
    content: "";
    height: 18px;
    bottom: 3px;
    left: 3px;
    position: absolute;
    transition: .4s;
    width: 18px;
}

input:checked + .switch-slider {
    background-color: var(--loritta-blue);
}

input:checked + .switch-slider:before {
    transform: translateX(18px);
}

.switch-slider.round {
    border-radius: 34px;
}

.switch-slider.round:before {
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}