// A Discord-like message
.discord-message {
    display: flex;
    gap: 1em;

    p {
        // Showdown adds "p" for each rendered markdown text, so to avoid workarounds in code we are going to add workarounds... in CSS!
        // Just remove all the padding and margin from them
        padding: 0;
        margin: 0;
    }

    .discord-inline-emoji {
        height: 1.5em;
        vertical-align: -0.4em;
    }

    .discord-message-sidebar {
        .discord-message-avatar {
            display: flex;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }

    .discord-message-header {
        font-size: 1rem;
        font-weight: 500;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 0.5em;
        align-items: center;

        .discord-message-username {
            font-size: 1rem;
            font-weight: 500;
        }

        .discord-message-bot-tag {
            background-color: var(--loritta-blue);
            color: white;
            font-weight: bold;
            border-radius: 0.1875rem;
            font-size: .625rem;
            padding: 0.1em 0.5em;
        }

        .discord-message-timestamp {
            font-size: 0.75rem;
            line-height: 1.375rem;
            color: gray;
        }
    }

    .discord-embed {
        display: flex;
        padding: 1rem 1rem 1rem 0.75rem;
        max-width: 520px;
        background-color: #f2f3f5;
        font-size: 0.875rem;
        line-height: 1.125rem;
        overflow: hidden;
        // Embed Pill
        border-left: 4px solid #e3e5e8;
        border-radius: 4px;
        gap: 1em;

        .discord-embed-content {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .discord-embed-author {
                display: flex;

                .discord-embed-icon {
                    margin-right: 8px;
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                }

                .discord-embed-text {
                    font-weight: 600;
                }
            }

            .discord-embed-title {
                font-size: 1rem;
                font-weight: 600;
            }

            .discord-embed-fields {
                display: grid;
                grid-gap: 8px;

                .discord-embed-field {
                    .discord-embed-field-name {
                        font-weight: 600;
                    }
                }
            }

            .discord-embed-footer {
                font-size: 0.75rem;
                line-height: 1rem;
                font-weight: 500;
            }

            .discord-embed-description {
                line-height: 1.125rem;
                font-size: 0.875rem;
            }
        }
        .discord-embed-thumbnail {
            // This never shrinks
            width: 80px;
            flex-shrink: 0;

            img {
                border-radius: 4px;
            }
        }
    }
}