.message-editor {
    gap: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;

    .message-editor-buttons {
        --buttons-columns: 4;

        justify-content: space-between;
        grid-template-columns: repeat(var(--buttons-columns), minmax(0, 1fr));
        display: grid;
        gap: 0.5em;

        .discord-button {
            width: 100%;

            .button-with-icon-wrapper {
                >div {
                    text-overflow: ellipsis;

                    // Required for text-overflow to do anything
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
        }

        .change-message-preview-direction {
            // If the screen is too small, hide the direction
            @media (max-width: 1024px) {
                display: none;
            }
        }
        @media (max-width: 1024px) {
            --buttons-columns: 3;
        }
        @media (max-width: 600px) {
            --buttons-columns: 1;
        }
    }

    .message-textarea-and-preview {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 1em;
        width: 100%;
        flex-direction: row;

        &.vertical-render {
            display: flex;
            flex-direction: column;
        }

        // If the screen is too small, always be vertical instead of horizontal, just like how vertical render works
        @media (max-width: 1024px) {
            display: flex;
            flex-direction: column;
        }

        .message-preview-section {
            .message-preview-wrapper {
                // Follow the screen when scrolling, this makes WAY easier to see your changes
                position: sticky;
                top: 0;
                left: 0;
            }
        }
    }
}

// This is on the root level because we want to use these classes elsewhere
.message-preview-section {
    display: flex;
    flex-direction: column;
    gap: 0.25em;

    .message-preview-wrapper {
        width: 100%;
        height: fit-content;
        overflow: auto;
        border-radius: var(--first-level-border-radius);
        border: 1px solid var(--input-border-color);
        background-color: var(--background-color);

        .message-preview {
            padding: 1em;
            overflow: hidden;
            width: max-content;
            display: flex;
            flex-direction: column;
            gap: 1em;
        }
    }
}