.modal-wrapper {
    position: fixed;
    overflow: auto;
    background-color: #000000a1;
    width: 100vw;
    height: 100%; // We need to use 100% instead of 100vh because the footer of the modal gets "chopped off" due to the URL bar in Chrome Mobile
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal {
        background-color: white;
        box-shadow: 0px 0px 10px #00000059;
        border-radius: 7px;
        overflow: hidden;
        max-width: 50vw;

        @media (max-width: 900px) {
            max-width: 100vw;
            width: 100%;
            overflow: scroll;
            max-height: 100%;
        }

        img {
            max-width: 100%;
        }

        .title {
            font-size: 2em;
            color: #29a6fe;
            margin-bottom: 0.5em;
            text-align: center;
            font-weight: bold;
        }

        .content {
            padding: 2.5em;
            line-height: 1.58;
        }

        .buttons-wrapper {
            padding: 1em;
            background-color: #d8d8dc;
            display: flex;
            justify-content: flex-end;
            gap: 1em;
        }

        .discord-button {
            &.secondary {
                color: #414141;
                background-color: rgba(0, 0, 0, 0.0);

                &:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
}