.theme-selector {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    .theme-selector-lori {
        background: radial-gradient(#505050, #000);
        display: flex;
        justify-content: center;
        border-radius: var(--first-level-border-radius);
        width: fit-content;
        margin: auto;

        .theme-selector-lori-inner {
            width: fit-content;
            position: relative;
            overflow: hidden;
            display: flex;
            aspect-ratio: 1/1;
            justify-content: center;

            img {
                filter: grayscale(25%) drop-shadow(0px 0px 5px #222);
                max-height: 450px;
            }

            .theme-option {
                position: absolute;
                font-weight: 1000;
                font-size: 1.25em;
                padding: 0.25em;
                border-radius: 7px;
                box-shadow: 0px 0px 3px #0000001a;

                &.light {
                    position: absolute;
                    left: 5%;
                    bottom: 15%;
                    background-color: white;
                    font-weight: 1000;
                    animation: swing-animation 2s infinite;
                    color: black;
                }

                &.dark {
                    position: absolute;
                    right: 5%;
                    bottom: 15%;
                    background-color: #313338;
                    animation: swing-animation 2s infinite reverse;
                    color: white;
                }
            }
        }
    }

    .theme-selector-buttons {
        display: grid;
        gap: 0.5em;
        grid-template-columns: 1fr 1fr;
    }
}