.xarola-ratinho {
    display: flex;
    align-items: center;

    .xarola-ratinho-icon-wrapper {
        position: relative;
        display: flex;
        width: 64px;
        height: 64px;

        img {
            width: 64px;
            height: 64px;
        }

        .xarola-ratinho-bars {
            display: grid;
            position: absolute;
            bottom: 0;
            height: 10%;
            grid-template-columns: repeat(10, 1fr);
            width: 100%;
            transition: 0.5s;
            gap: 3px;
            transition-duration: 0.5s;
            align-items: flex-end;

            .xarola-ratinho-bar {
                background-color: white;
                width: 100%;
                animation: xarola-ratinho-bar 0.3s linear infinite alternate;
            }
        }
    }

    .xarola-ratinho-text {
        display: flex;
        flex-direction: column;
        color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

        .xarola-ratinho-username {
            font-weight: bold;
        }
    }
}

@keyframes xarola-ratinho-bar {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

.gira-aspas {
    animation: gira-aspas 8s linear infinite;
}

@keyframes gira-aspas {
  0% {
    transform: rotate(0deg);
  }
  100% {
   transform: rotate(360deg);
  }
}