$DISCORD_BACKGROUND_TERTIARY: #e3e5e8;

/*** uncss> filename: assets/css/discord-style-original.css ***/
.focusable-1YV_-H {
    position: relative
}

.anchor-3Z-8Bb {
    color: var(--text-link);
    text-decoration: none
}

.anchorUnderlineOnHover-2ESHQB:hover {
    text-decoration: underline
}

.scrollbar-3dvm_9::-webkit-scrollbar-corner {
    border: none;
    background: none
}

.scrollbarGhostHairline-1mSOM1 {
}

.scrollbarGhostHairline-1mSOM1::-webkit-scrollbar {
    width: 4px;
    height: 4px
}

.scrollbarGhostHairline-1mSOM1::-webkit-scrollbar-thumb {
    background-color: rgba(24,25,28,.6);
    border-radius: 2px;
    cursor: move
}

.scrollbarGhostHairline-1mSOM1::-webkit-scrollbar-track {
    background-color: transparent;
    border: none
}

.emoji {
    -o-object-fit: contain;
    object-fit: contain;
    width: 1.375em;
    height: 1.375em;
    vertical-align: bottom
}

a,body,code,div,em,h2,html,img,pre,s,span,strong {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline
}

a {
    color: var(--text-link);
    text-decoration: none;
    cursor: pointer
}

a img {
    border: none
}

/* body {
    line-height: 1;
    margin: 0;
    padding: 0;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: transparent
} */

::-webkit-input-placeholder {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400
}

::-moz-placeholder {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400
}

:-ms-input-placeholder {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400
}

@media (-webkit-max-device-pixel-ratio: 1) {
    .theme-light ::-webkit-input-placeholder {
        font-weight:500
    }

    .theme-light ::-moz-placeholder {
        font-weight: 500
    }

    .theme-light :-ms-input-placeholder {
        font-weight: 500
    }
}

strong {
    font-weight: 600
}

code {
    font-family: Consolas,Andale Mono WT,Andale Mono,Lucida Console,Lucida Sans Typewriter,DejaVu Sans Mono,Bitstream Vera Sans Mono,Liberation Mono,Nimbus Mono L,Monaco,Courier New,Courier,monospace;
    font-size: 14px;
    line-height: 16px
}

@font-face {
    font-family: Whitney;
    font-weight: 300;
    src: url(/assets/6c6374bad0b0b6d204d8d6dc4a18d820.woff) format("woff")
}

@font-face {
    font-family: Whitney;
    font-weight: 400;
    src: url(/assets/e8acd7d9bf6207f99350ca9f9e23b168.woff) format("woff")
}

@font-face {
    font-family: Whitney;
    font-weight: 500;
    src: url(/assets/3bdef1251a424500c1b3a78dea9b7e57.woff) format("woff")
}

@font-face {
    font-family: Whitney;
    font-weight: 600;
    src: url(/assets/be0060dafb7a0e31d2a1ca17c0708636.woff) format("woff")
}

@font-face {
    font-family: Whitney;
    font-weight: 700;
    src: url(/assets/8e12fb4f14d9c4592eb8ec9f22337b04.woff) format("woff")
}

.theme-dark {
    --header-primary:#fff;--header-secondary:#b9bbbe;--text-normal:#dcddde;--text-muted:#72767d;--text-link:#00b0f4;--channels-default:#8e9297;--interactive-normal:#b9bbbe;--interactive-hover:#dcddde;--interactive-active:#fff;--interactive-muted:#4f545c;--background-primary:#36393f;--background-secondary:#2f3136;--background-secondary-alt:#292b2f;--background-tertiary:#202225;--background-accent:#4f545c;--background-floating:#18191c;--background-mobile-primary:#36393f;--background-mobile-secondary:#2f3136;--background-modifier-hover:rgba(79,84,92,0.16);--background-modifier-active:rgba(79,84,92,0.24);--background-modifier-selected:rgba(79,84,92,0.32);--background-modifier-accent:hsla(0,0%,100%,0.06);--background-mentioned:rgba(250,166,26,0.05);--background-mentioned-hover:rgba(250,166,26,0.08);--background-message-hover:rgba(4,4,5,0.07);--scrollbar-thin-thumb:#202225;--scrollbar-thin-track:transparent;--scrollbar-auto-thumb:#202225;--scrollbar-auto-track:#2e3338;--scrollbar-auto-scrollbar-color-thumb:#202225;--scrollbar-auto-scrollbar-color-track:#2f3136;--elevation-stroke:0 0 0 1px rgba(4,4,5,0.15);--elevation-low:0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);--elevation-medium:0 4px 4px rgba(0,0,0,0.16);--elevation-high:0 8px 16px rgba(0,0,0,0.24);--logo-primary:#fff;--focus-primary:#00b0f4;--guild-header-text-shadow:0 1px 1px rgba(0,0,0,0.4);--channeltextarea-background:#40444b;--activity-card-background:#202225;--textbox-markdown-syntax:#8e9297;--deprecated-card-bg:rgba(32,34,37,0.6);--deprecated-card-editable-bg:rgba(32,34,37,0.3);--deprecated-store-bg:#36393f;--deprecated-quickswitcher-input-background:#72767d;--deprecated-quickswitcher-input-placeholder:hsla(0,0%,100%,0.3);--deprecated-text-input-bg:rgba(0,0,0,0.1);--deprecated-text-input-border:rgba(0,0,0,0.3);--deprecated-text-input-border-hover:#040405;--deprecated-text-input-border-disabled:#202225;--deprecated-text-input-prefix:#dcddde}

.theme-light {
    --header-primary:#060607;--header-secondary:#4f5660;--text-normal:#2e3338;--text-muted:#747f8d;--text-link:#0067e0;--channels-default:#6a7480;--interactive-normal:#4f5660;--interactive-hover:#2e3338;--interactive-active:#060607;--interactive-muted:#c7ccd1;--background-primary:#fff;--background-secondary:#f2f3f5;--background-secondary-alt:#ebedef;--background-tertiary:#e3e5e8;--background-accent:#747f8d;--background-floating:#fff;--background-mobile-primary:#f8f9f9;--background-mobile-secondary:#fff;--background-modifier-hover:rgba(116,127,141,0.08);--background-modifier-active:rgba(116,127,141,0.16);--background-modifier-selected:rgba(116,127,141,0.24);--background-modifier-accent:rgba(6,6,7,0.08);--background-mentioned:rgba(250,166,26,0.1);--background-mentioned-hover:rgba(250,166,26,0.2);--background-message-hover:rgba(6,6,7,0.02);--scrollbar-thin-thumb:rgba(79,84,92,0.3);--scrollbar-thin-track:transparent;--scrollbar-auto-thumb:#ccc;--scrollbar-auto-track:#f2f2f2;--scrollbar-auto-scrollbar-color-thumb:#e3e5e8;--scrollbar-auto-scrollbar-color-track:#f2f3f5;--elevation-stroke:0 0 0 1px rgba(6,6,7,0.08);--elevation-low:0 1px 0 rgba(6,6,7,0.1),0 1.5px 0 rgba(6,6,7,0.025),0 2px 0 rgba(6,6,7,0.025);--elevation-medium:0 4px 4px rgba(0,0,0,0.08);--elevation-high:0 8px 16px rgba(0,0,0,0.16);--logo-primary:#7289da;--focus-primary:#00b0f4;--guild-header-text-shadow:0 1px 1px hsla(0,0%,100%,0.4);--channeltextarea-background:#ebedef;--activity-card-background:#fff;--textbox-markdown-syntax:#6a7480;--deprecated-card-bg:#f8f9f9;--deprecated-card-editable-bg:rgba(246,246,247,0.6);--deprecated-store-bg:#f8f9f9;--deprecated-quickswitcher-input-background:#fff;--deprecated-quickswitcher-input-placeholder:rgba(79,84,92,0.3);--deprecated-text-input-bg:rgba(79,84,92,0.02);--deprecated-text-input-border:rgba(79,84,92,0.3);--deprecated-text-input-border-hover:#b9bbbe;--deprecated-text-input-border-disabled:#dcddde;--deprecated-text-input-prefix:#b9bbbe}

body,html {
    height: 100%;
    width: 100%
}

body {
    background-color: $DISCORD_BACKGROUND_TERTIARY;
    text-rendering: optimizeLegibility
}

::-webkit-input-placeholder,body {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    text-rendering: optimizeLegibility
}

::-moz-placeholder,body {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    text-rendering: optimizeLegibility
}

:-ms-input-placeholder,body {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    text-rendering: optimizeLegibility
}

body {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    text-rendering: optimizeLegibility
}

a,div,span,strong {
    outline: 0
}

img[alt] {
    text-indent: -9999px
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    border-radius: 4px;
    color: var(--header-secondary);
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none
}

.hljs-selector-tag {
    color: #859900
}

.hljs-number {
    color: #2aa198
}

.hljs-type {
    color: #b58900
}

.hljs-selector-attr {
    color: #cb4b16
}

.wrapper-2a6GCs {
    position: relative;
    word-wrap: break-word;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 16px;
    min-height: 1.375rem
}

.cozy-3raOZG.wrapper-2a6GCs {
    padding-top: .125rem;
    padding-bottom: .125rem
}

.cozy-3raOZG.wrapper-2a6GCs {
    padding-left: 72px
}

.cozy-3raOZG .contents-2mQqc9 {
    position: static;
}

.cozy-3raOZG .header-23xsNx {
    position: relative;
    line-height: 1.375rem;
    min-height: 1.375rem;
    color: var(--text-muted);
    white-space: break-spaces;
    word-wrap: pre-wrap
}

.zalgo-jN1Ica.cozy-3raOZG .header-23xsNx {
    overflow: hidden
}

.buttonContainer-DHceWr {
    position: absolute;
    top: 0;
    right: 0
}

.avatar-1BDn8e {
    position: absolute;
    left: 16px;
    top: 4px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    pointer-events: none;
    z-index: 1
}

.avatar-1BDn8e.clickable-1bVtEA {
    pointer-events: auto
}

.avatar-1BDn8e.clickable-1bVtEA:active {
    -webkit-transform: translateY(1px);
    transform: translateY(1px)
}

.timestamp-3ZCmNB {
    display: inline-block;
    height: 1.25rem;
    cursor: default;
    pointer-events: none;
    font-weight: 500
}

.timestamp-3ZCmNB.latin12CompactTimeStamp-38a8OU {
    width: 2.25rem
}

.cozy-3raOZG .timestamp-3ZCmNB {
    font-size: 0.75rem;
    line-height: 1.375rem;
    color: var(--text-muted);
    vertical-align: baseline;
    margin-left: .25rem
}

.cozy-3raOZG .timestamp-3ZCmNB.alt-1uNpEt {
    text-align: right;
    font-size: 0.6875rem;
    line-height: 1.375rem;
    margin-right: .25rem;
    color: var(--text-muted);
    text-indent: 0
}

.cozy-3raOZG .timestamp-3ZCmNB.alt-1uNpEt {
    position: absolute;
    left: 0;
    height: 1.375rem;
    line-height: 1.375rem;
    width: 56px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: right
}

.timestampVisibleOnHover-2bQeI4 {
    opacity: 0
}

.username-1A8OIy {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.375rem;
    color: var(--header-primary);
    display: inline;
    vertical-align: baseline;
    position: relative
}

.cozy-3raOZG .header-23xsNx .username-1A8OIy {
    margin-right: .25rem
}

.username-1A8OIy.clickable-1bVtEA:hover {
    cursor: pointer;
    text-decoration: underline
}

@media (-webkit-max-device-pixel-ratio: 1) {
    .theme-light .username-1A8OIy {
        font-weight:600
    }
}

.botTag-1un5a6 {
    position: relative;
    top: .1rem
}

.botTagCozy-1fFsZk {
}

.botTagCozy-1fFsZk {
    margin-right: .25rem
}

.separator-2nZzUB {
    position: absolute;
    opacity: 0;
    width: 0;
    display: inline-block;
    font-style: normal
}

.messageContent-2qWWxC {
    text-indent: 0
}

.zalgo-jN1Ica .messageContent-2qWWxC {
    overflow: hidden
}

.messageContent-2qWWxC:empty {
    display: none
}

.cozy-3raOZG .messageContent-2qWWxC {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    margin-left: -72px;
    padding-left: 72px
}

.mention {
    border-radius: 3px;
    padding: 0 2px
}

.botTag-2WPJ74 {
    font-size: .625rem;
    text-transform: uppercase;
    vertical-align: top;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    text-indent: 0
}

.rem-2m9HGf.botTag-2WPJ74 {
    height: .9375rem;
    padding: 0 .275rem;
    margin-top: .075em;
    border-radius: .1875rem
}

.botTagRegular-2HEhHi {
    background: #7289da;
    color: #fff
}

.botTagVerified-1klIIt {
    display: inline-block
}

.rem-2m9HGf .botTagVerified-1klIIt {
    width: .9375rem;
    height: .9375rem;
    margin-left: -.25rem
}

.botText-1526X_ {
    position: relative;
    font-weight: 500
}

.rem-2m9HGf .botText-1526X_ {
    line-height: .9375rem
}

.imageWrapper-2p5ogY {
    display: block;
    position: relative;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    overflow: hidden;
    border-radius: 3px
}

.imageWrapper-2p5ogY img {
    position: absolute
}

.imageWrapper-2p5ogY:focus {
    outline: var(--text-link) auto 5px;
    -webkit-transition: outline 0s ease .15s;
    transition: outline 0s ease .15s
}

.imageZoom-1n-ADA {
    cursor: nesw-resize;
    cursor: -webkit-zoom-in;
    cursor: zoom-in
}

.clickable-3Ya1ho {
    cursor: pointer
}

.wrapper-3WhCwL {
    border-radius: 3px;
    padding: 0 2px;
    font-weight: 500;
    unicode-bidi: -moz-plaintext;
    unicode-bidi: plaintext;
    color: #7289da;
    background: rgba(114,137,218,.1);
    position: relative
}

.interactive {
    -webkit-transition: background-color 50ms ease-out,color 50ms ease-out;
    transition: background-color 50ms ease-out,color 50ms ease-out;
    cursor: pointer
}

.interactive:hover {
    color: #fff;
    background-color: #7289da
}

.theme-dark .spoilerContainer-331r0R.hidden-HHr2R9:not(:focus) {
    -webkit-box-shadow: .5px .5px 1px 1px rgba(0,0,0,.1);
    box-shadow: .5px .5px 1px 1px rgba(0,0,0,.1)
}

.theme-light .spoilerContainer-331r0R.hidden-HHr2R9:not(:focus) {
    -webkit-box-shadow: .5px .5px 1px 1px rgba(0,0,0,.1);
    box-shadow: .5px .5px 1px 1px rgba(0,0,0,.1)
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    border-radius: 4px;
    color: var(--header-secondary);
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none
}

.hljs-selector-tag {
    color: #859900
}

.hljs-number {
    color: #2aa198
}

.hljs-type {
    color: #b58900
}

.hljs-selector-attr {
    color: #cb4b16
}

.markup-2BOw-j {
    font-size: 1rem;
    line-height: 1.375rem;
    white-space: pre-wrap;
    white-space: break-spaces;
    word-wrap: break-word;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    color: var(--text-normal);
    font-weight: 400
}

.markup-2BOw-j a {
    color: var(--text-link);
    word-break: break-word;
    text-decoration: none;
    cursor: pointer
}

.markup-2BOw-j a:hover {
    text-decoration: underline
}

.markup-2BOw-j strong {
    font-weight: 700
}

.markup-2BOw-j em {
    font-style: italic
}

.markup-2BOw-j pre {
    border-radius: 4px;
    padding: 0;
    font-family: Consolas,Andale Mono WT,Andale Mono,Lucida Console,Lucida Sans Typewriter,DejaVu Sans Mono,Bitstream Vera Sans Mono,Liberation Mono,Nimbus Mono L,Monaco,Courier New,Courier,monospace;
    font-size: 0.75rem;
    line-height: 1rem;
    margin-top: 6px;
    white-space: pre-wrap;
    background-clip: border-box
}

.markup-2BOw-j pre {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 90%
}

.markup-2BOw-j code {
    font-size: 0.875rem;
    line-height: 1.125rem;
    text-indent: 0;
    white-space: pre-wrap;
    scrollbar-width: thin;
    scrollbar-color: $DISCORD_BACKGROUND_TERTIARY var(--background-secondary);
    background: var(--background-secondary);
    border: 1px solid $DISCORD_BACKGROUND_TERTIARY
}

.markup-2BOw-j code.inline {
    width: auto;
    height: auto;
    padding: .2em;
    margin: -.2em 0;
    border-radius: 3px;
    font-size: 85%;
    font-family: Consolas,Andale Mono WT,Andale Mono,Lucida Console,Lucida Sans Typewriter,DejaVu Sans Mono,Bitstream Vera Sans Mono,Liberation Mono,Nimbus Mono L,Monaco,Courier New,Courier,monospace;
    text-indent: 0;
    border: none;
    white-space: pre-wrap
}

@media (-webkit-max-device-pixel-ratio: 1) {
    .theme-light .markup-2BOw-j {
        font-weight:500
    }
}

.embed-IeVjo6 {
    position: relative;
    display: grid;
    max-width: 520px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px
}

.embed-IeVjo6 .emoji {
    width: 18px;
    height: 18px
}

.embed-IeVjo6 pre {
    max-width: 100%;
    border: none
}

.embed-IeVjo6 code {
    border: none;
    background: $DISCORD_BACKGROUND_TERTIARY;
    scrollbar-color: var(--background-secondary) $DISCORD_BACKGROUND_TERTIARY
}

.embedFull-2tM8-- {
    border-left: 4px solid $DISCORD_BACKGROUND_TERTIARY;
    background: var(--background-secondary)
}

.embedAuthorName-3mnTWj,.embedAuthorNameLink-1gVryT,.embedDescription-1Cuq9a,.embedFieldName-NFrena,.embedFieldValue-nELq2s,.embedFooterText-28V_Wb,.embedLink-1G1K1D,.embedTitle-3OXDkz,.embedTitleLink-1Zla9e {
    unicode-bidi: -moz-plaintext;
    unicode-bidi: plaintext;
    text-align: left
}

.grid-1nZz7S {
    padding: .5rem 1rem 1rem .75rem;
    display: inline-grid;
    grid-template-columns: auto;
    grid-template-rows: auto
}

.grid-1nZz7S.hasThumbnail-3FJf1w {
    grid-template-columns: auto -webkit-min-content;
    grid-template-columns: auto min-content
}

.embedMargin-UO5XwE {
    margin-top: 8px
}

.embedLink-1G1K1D {
    text-decoration: none;
    cursor: pointer
}

.embedLink-1G1K1D:hover {
    text-decoration: underline
}

.embedSuppressButton-1FonMn {
    opacity: 0;
    position: absolute;
    top: -2px;
    right: -20px;
    cursor: pointer;
    padding: 2px;
    color: var(--interactive-normal)
}

.embed-IeVjo6:hover .embedSuppressButton-1FonMn {
    opacity: 1
}

.embedSuppressButton-1FonMn:hover {
    color: var(--interactive-hover)
}

.embedAuthor-3l5luH {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column: 1/1
}

.embedAuthorName-3mnTWj {
    font-size: 0.875rem;
    font-weight: 600
}

@media (-webkit-max-device-pixel-ratio: 1) {
    .theme-light .embedAuthorName-3mnTWj {
        font-weight:500
    }
}

.embedAuthorNameLink-1gVryT {
}

.embed-IeVjo6 .embedAuthorNameLink-1gVryT {
    color: var(--header-primary)
}

.embedAuthorIcon--1zR3L {
    margin-right: 8px;
    width: 24px;
    height: 24px;
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: 50%
}

.embedTitle-3OXDkz {
    font-size: 1rem;
    font-weight: 600;
    display: inline-block;
    grid-column: 1/1
}

.embedTitleLink-1Zla9e {
}

.embedDescription-1Cuq9a {
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 400;
    white-space: pre-line;
    grid-column: 1/1
}

@media (-webkit-max-device-pixel-ratio: 1) {
    .theme-light .embedDescription-1Cuq9a {
        font-weight:500
    }
}

.embedImage-2W1cML,.embedThumbnail-2Y84-K {
    display: block
}

.embedImage-2W1cML img,.embedThumbnail-2Y84-K img {
    display: block;
    border-radius: 4px
}

.embedThumbnail-2Y84-K {
    grid-row: 1/8;
    grid-column: 2/2;
    margin-left: 16px;
    margin-top: 8px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    justify-self: end
}

.embedFooter-3yVop- {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-row: auto/auto;
    grid-column: 1/1
}

.hasThumbnail-3FJf1w .embedFooter-3yVop- {
    grid-column: 1/3
}

.embedFooterText-28V_Wb {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
    color: var(--text-normal)
}

@media (-webkit-max-device-pixel-ratio: 1) {
    .theme-light .embedFooterText-28V_Wb {
        font-weight:500
    }
}

.embedFooterSeparator-3klTIQ {
    font-weight: 500;
    color: var(--text-normal);
    display: inline-block;
    margin: 0 4px
}

.embedFooterIcon-239O1f {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: 50%
}

.embedFields-2IPs5Z {
    display: grid;
    grid-column: 1/1;
    margin-top: 8px;
    grid-gap: 8px
}

.embedField-1v-Pnh {
    font-weight: 400
}

.embedField-1v-Pnh,.embedFieldName-NFrena {
    font-size: 0.875rem;
    line-height: 1.125rem;
    min-width: 0
}

.embedFieldName-NFrena {
    font-weight: 600;
    margin-bottom: 2px
}

.embedFieldValue-nELq2s {
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 400;
    white-space: pre-line;
    min-width: 0
}

.embedMedia-1guQoW {
    grid-column: 1/1;
    border-radius: 4px;
    contain: paint
}

.hasThumbnail-3FJf1w .embedMedia-1guQoW {
    grid-column: 1/3
}

.embedFull-2tM8-- .embedMedia-1guQoW {
    margin-top: 16px
}

@media (-webkit-max-device-pixel-ratio: 1) {
    .theme-light .embedFieldName-NFrena {
        font-weight:600
    }
}

@media (-webkit-max-device-pixel-ratio: 1) {
    .theme-light .embedFieldValue-nELq2s {
        font-weight:400
    }
}

.embedDescription-1Cuq9a,.embedFieldValue-nELq2s {
    color: var(--text-normal)
}

.embedAuthorName-3mnTWj,.embedFieldName-NFrena,.embedTitle-3OXDkz {
    color: var(--header-primary)
}

.embedAuthor-3l5luH,.embedDescription-1Cuq9a,.embedFields-2IPs5Z,.embedFooter-3yVop-,.embedMedia-1guQoW,.embedTitle-3OXDkz {
    min-width: 0
}

.reactions-12N0jA {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: -.25rem;
    padding-bottom: .125rem
}

.icon-2uw6mp,.reactionBtn-3N03Zj {
    width: 1rem;
    height: 1rem
}

.reactionBtn-3N03Zj {
    cursor: pointer;
    visibility: hidden;
    color: var(--interactive-normal)
}

.reactionBtn-3N03Zj:hover .icon-2uw6mp {
    color: var(--interactive-hover)
}

.reactionBtn-3N03Zj:active .icon-2uw6mp {
    color: var(--interactive-active)
}

.reactions-12N0jA:hover .reactionBtn-3N03Zj {
    visibility: visible
}

.reaction-1hd86g {
    border-radius: .25rem;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: .125rem;
    margin-bottom: .125rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background-color .1s ease;
    transition: background-color .1s ease;
    background: var(--background-modifier-accent)
}

.reaction-1hd86g .emoji {
    width: 1rem;
    height: 1rem;
    margin: .125rem 0;
    min-width: auto;
    min-height: auto
}

.reactionInner-15NvIl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 .375rem
}

.reactionCount-2mvXRV {
    font-size: 0.875rem;
    font-weight: 500;
    margin-left: .375rem;
    text-align: center;
    color: var(--text-muted)
}

.reaction-1hd86g:hover .reactionCount-2mvXRV {
    color: var(--interactive-hover)
}

.container-1ov-mD {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: .25rem;
    text-indent: 0;
    min-height: 0;
    min-width: 0;
    padding-top: .125rem;
    padding-bottom: .125rem
}

.container-1ov-mD:empty {
    display: none
}

.container-1ov-mD>* {
    justify-self: start;
    -ms-flex-item-align: start;
    align-self: start
}

.mentioned-xhSam7 {
    position: relative;
    background-color: var(--background-mentioned)
}

.mentioned-xhSam7:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    width: 2px
}

.mentioned-xhSam7:before {
    background-color: #faa61a
}

.message-2qnXI6 {
    padding-right: 48px!important
}

.buttons-cl5qTG {
    opacity: 0;
    pointer-events: none
}

.cozyMessage-3V1Y8y.groupStart-23k01U {
    min-height: 2.75rem
}

.theme-dark .mentioned-xhSam7 .mention,.theme-light .mentioned-xhSam7 .mention {
    border-radius: 0;
    padding: 0;
    background-color: transparent!important
}

.theme-dark .mentioned-xhSam7 .mention.interactive:hover,.theme-light .mentioned-xhSam7 .mention.interactive:hover {
    color: #7289da;
    text-decoration: underline
}

.content-RXzE-X::-webkit-scrollbar-track-piece:start {
    margin-top: 6px
}

.content-RXzE-X::-webkit-scrollbar-track-piece:end {
    margin-bottom: 6px
}

/* &.title-eQ0ZMf {
    color: var(--header-primary)
} */

strong {
    font-weight: 600
}

.wrapper-2aW0bm {
    background-color: var(--background-primary);
    -webkit-box-shadow: var(--elevation-stroke);
    box-shadow: var(--elevation-stroke);
    display: grid;
    grid-auto-flow: column;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 32px;
    border-radius: 4px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: -webkit-box-shadow .1s ease-out;
    transition: -webkit-box-shadow .1s ease-out;
    transition: box-shadow .1s ease-out;
    transition: box-shadow .1s ease-out,-webkit-box-shadow .1s ease-out;
    position: relative
}

.wrapper-2aW0bm :first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.wrapper-2aW0bm :last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.button-1ZiXG9 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 24px;
    padding: 4px;
    min-width: 24px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    color: var(--interactive-normal);
    cursor: pointer;
    position: relative
}

.button-1ZiXG9:hover {
    color: var(--interactive-hover);
    background-color: var(--background-modifier-hover)
}

.button-1ZiXG9:active {
    padding-top: 5px;
    padding-bottom: 3px;
    color: var(--interactive-active);
    background-color: var(--background-modifier-active)
}

.container-3npvBV {
    position: absolute;
    right: 0;
    z-index: 1;
    top: -25px;
    padding: 0 14px 0 32px
}

.isHeader-2dII4U {
    top: -16px
}

.icon-3Gkjwa {
    width: 20px;
    height: 20px;
    display: block;
    -o-object-fit: contain;
    object-fit: contain
}

/* &.background-opacity-high .messageGroupBlocked-3wrQQX,&.background-opacity-low .messageGroupBlocked-3wrQQX,&.background-opacity-medium .messageGroupBlocked-3wrQQX {
    background-color: rgba(54,57,63,.3);
    border-color: rgba(47,49,54,.2)
}

&.background-opacity-high .messageGroupBlocked-3wrQQX .messageGroupBlockedBtn-1PBBh-,&.background-opacity-low .messageGroupBlocked-3wrQQX .messageGroupBlockedBtn-1PBBh-,&.background-opacity-medium .messageGroupBlocked-3wrQQX .messageGroupBlockedBtn-1PBBh- {
    background-color: transparent;
    color: #f6f6f7
}

&.background-opacity-high .messageGroupBlocked-3wrQQX .messageGroupBlockedBtn-1PBBh-:hover,&.background-opacity-low .messageGroupBlocked-3wrQQX .messageGroupBlockedBtn-1PBBh-:hover,&.background-opacity-medium .messageGroupBlocked-3wrQQX .messageGroupBlockedBtn-1PBBh-:hover {
    background: rgba(54,57,63,.4)
} */

.scroller-3sQKXg::-webkit-scrollbar-button:end {
    height: 4px;
    width: 4px
}

.overlay .scroller-3sQKXg::-webkit-scrollbar-button:end {
    height: 0;
    width: 0
}

.btn-1PnLxm.btnPrimary-1jluZW:hover:not(:disabled) {
    background-color: #4e5d94
}

/*# sourceMappingURL=0.e5cee8a7f446da39741b.css.map*/


.scrollbar-3dvm_9::-webkit-scrollbar-corner {
    border: none;
    background: none
}

.scrollbarDefault-3COgCQ {
}

.scrollbarDefault-3COgCQ::-webkit-scrollbar {
    width: 14px;
    height: 14px
}

.scrollbarDefault-3COgCQ::-webkit-scrollbar-thumb,.scrollbarDefault-3COgCQ::-webkit-scrollbar-track {
    border-width: 3px;
    border-radius: 7px;
    background-clip: padding-box;
    border-style: solid
}

.scrollbarDefault-3COgCQ::-webkit-scrollbar-track {
    border-width: initial
}

.theme-light .scrollbarDefault-3COgCQ::-webkit-scrollbar-thumb {
    background-color: #7289da;
    border-color: transparent
}

.theme-light .scrollbarDefault-3COgCQ::-webkit-scrollbar-track {
    background-color: #f2f2f2;
    border-color: transparent
}

.theme-dark .scrollbarDefault-3COgCQ::-webkit-scrollbar-thumb {
    background-color: #202225;
    border-color: transparent
}

.theme-dark .scrollbarDefault-3COgCQ::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,.1);
    border-color: transparent
}

.inputWrapper-31_8H8 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.input-cIJ7To {
    font-size: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border-radius: 3px;
    color: var(--text-normal);
    background-color: var(--deprecated-text-input-bg);
    border: 1px solid var(--deprecated-text-input-border);
    -webkit-transition: border-color .2s ease-in-out;
    transition: border-color .2s ease-in-out
}

.input-cIJ7To::-webkit-input-placeholder {
    -webkit-user-select: none;
    user-select: none;
    color: var(--text-muted)
}

.input-cIJ7To::-moz-placeholder {
    -moz-user-select: none;
    user-select: none;
    color: var(--text-muted)
}

.input-cIJ7To:-ms-input-placeholder {
    -ms-user-select: none;
    user-select: none;
    color: var(--text-muted)
}

.input-cIJ7To:hover {
    border-color: var(--deprecated-text-input-border-hover)
}

.input-cIJ7To:focus {
    border-color: #7289da
}

.inputDefault-_djjkz {
    padding: 10px;
    height: 40px
}

.maxLength-39QFBo {
    position: absolute;
    bottom: 12px;
    right: 14px;
    font-size: 12px;
    font-family: Consolas,Andale Mono WT,Andale Mono,Lucida Console,Lucida Sans Typewriter,DejaVu Sans Mono,Bitstream Vera Sans Mono,Liberation Mono,Nimbus Mono L,Monaco,Courier New,Courier,monospace;
    pointer-events: none;
    color: #72767d
}

.inputMaxLength-1vRluy {
    position: relative
}

.colorStandard-2KCXvj {
    color: var(--text-normal)
}

.size14-e6ZScH {
    font-size: 14px;
    line-height: 18px
}

.h4-AQvcAz,.h5-18_1nd {
    font-weight: 600;
    text-transform: uppercase
}

.h5-18_1nd {
    font-size: 12px;
    line-height: 16px
}

.title-3sZWYQ {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    cursor: default
}

.marginBottom4-2qk4Hy {
    margin-bottom: 4px
}

.h2-2gWE-o {
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase
}

.h2-2gWE-o,.h3-3PDeKG {
    font-size: 16px
}

.defaultColor-1_ajX0 {
    color: var(--header-primary)
}

.defaultMarginh2-2LTaUL {
    margin-bottom: 20px
}