// Bootstrap alerts
.alert {
    padding: 1em;
    border-radius: var(--nice-border-radius);
    border: 1px solid;

    &.alert-success {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
    }

    &.alert-danger {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }
}