.cards {
    display: flex;
    gap: 1em;
    flex-direction: column;

    .card {
        display: flex;
        padding: 1em;
        position: relative;
        flex-direction: column;

        background-color: var(--card-background-color);
        border: 1px solid var(--card-border-color);
        border-top-color: var(--card-border-highlight-color);
        border-radius: var(--nice-border-radius);

        &.card-with-avatar-content-buttons {
            flex-direction: row;
            align-items: center;
            gap: 0.5em;

            @media (max-width: 700px) {
                flex-direction: column;
                text-align: center;
            }
        }
    }
}

.cards-with-header {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .card-header {
        border-radius: var(--first-level-border-radius);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5em;

        .card-header-info {
            display: flex;
            flex-direction: column;

            .card-header-title {
                font-size: var(--card-section-header-font-size);
                font-weight: bolder;
            }

            .card-header-description {
                font-size: var(--description-font-size);
            }
        }
    }
}