.collection-entry {
  margin-top: 2em;
}

.collection-items-container {
  padding: 1em;
  background-color: var(--inset-background-color);
  border: 1px solid var(--card-border-color);
  border-top-color: var(--card-border-highlight-color);
  border-radius: var(--nice-border-radius);

  .loritta-items-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}
