.discord-invite-wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--card-background-color);
    border: 1px solid var(--card-border-color);
    border-top-color: var(--card-border-highlight-color);
    border-radius: var(--nice-border-radius);
    padding: 1em;
    gap: 0.5em;
    width: 100%;

    .invite-mobile-buttons {
        display: none;
    }

    @media (500px >= width) {
        .invite-desktop-buttons {
            display: none;
        }

        .invite-mobile-buttons {
            display: flex;
        }
    }

    .discord-invite-title {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.75em;
    }

    .discord-server-details {
        display: flex;
        gap: 1em;
        align-items: center;

        .discord-server-icon {
            // It would be cool to apply a background-color here, to avoid transparent icons "bleeding" through
            // However, there's a bug that makes the background-color "bleed" through the borders of the image:
            // https://stackoverflow.com/questions/65518875/image-background-color-bleeding-on-circular-image
            flex-shrink: 0;
            border-radius: 25%;
            overflow: hidden;
            width: 50px;
            height: 50px;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                display: block;
            }

            &:after {
              border-radius: 25%;
              // A nice box-shadow for the icon to create a nice effect
              // (See RefactoringUI's page 217)
              box-shadow: inset 0 0 0 1px hsl(0, 0%, 0%, 0.1);
              content: '';
              display: block;
              height: 100%;
              position: absolute;
              top: 0;
              width: 100%;
            }
        }

        .discord-server-info {
            line-height: 1.0;
            flex-direction: column;
            display: flex;
            justify-content: center;
            align-self: stretch;
            flex-shrink: 1;

            .discord-server-name {
                font-weight: bold;

                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }

            .discord-server-description {
                font-size: 0.9em;

                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
        }

        .discord-server-button {
            margin-left: auto;
            border-radius: 3px;
            color: white;
            font-size: 0.9em;
            font-weight: bold;
            display: flex;
            align-items: center;
            padding-left: 1em;
            padding-right: 1em;
            height: 40px;
            transition-duration: 0.5s;
            // Makes the button not do a line break if the text is "Juntar-se"
            flex-shrink: 0;

            &.green {
                background-color: #3ba55d;

                &:hover {
                    background-color: #2d7d47;
                }
            }

            &.loritta-blue {
                background-color: #29a6fe;

                &:hover {
                    background-color: #0064aa;
                }
            }
        }
    }
}