.discord-mention {
    --mention-color: rgb(88, 101, 242);
	background-color: unquote("rgb(from var(--mention-color) r g b / 10%)");
    color: var(--mention-color);
    font-weight: 600;
	transition: background-color .05s,color .05s;
	padding: 0 2px 0 2px;
	border-radius: 3px;

    &.has-icon {
        display: inline-flex;
        align-items: baseline;
        gap: 4px;

        svg {
            align-self: center;
            width: 1em;
            height: 1em;
        }
    }
}