.message-editor {
    gap: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;

    .message-editor-buttons {
        --buttons-columns: 4;

        justify-content: space-between;
        grid-template-columns: repeat(var(--buttons-columns), minmax(0, 1fr));
        display: grid;
        gap: 0.5em;

        .discord-button {
            width: 100%;

            // Both are required for the text-overflow to work
            display: flex;
            overflow: hidden;

            text-overflow: ellipsis;

            // Required for text-overflow to do anything
            white-space: nowrap;
        }

        .change-message-preview-direction {
            // If the screen is too small, hide the direction
            @media (max-width: 1024px) {
                display: none;
            }
        }
        @media (max-width: 1024px) {
            --buttons-columns: 3;
        }
        @media (max-width: 600px) {
            --buttons-columns: 1;
        }
    }

    .message-textarea-and-preview {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 1em;
        width: 100%;
        flex-direction: row;

        &.vertical-render {
            display: flex;
            flex-direction: column;
        }

        // If the screen is too small, always be vertical instead of horizontal, just like how vertical render works
        @media (max-width: 1024px) {
            display: flex;
            flex-direction: column;
        }

        .message-preview-section {
            .message-preview-wrapper {
                // Follow the screen when scrolling, this makes WAY easier to see your changes
                position: sticky;
                top: 0;
                left: 0;
            }
        }

        .message-config-tooltip {
            background-color: var(--background-color);
            color: var(--content-text-color);
            padding: 0.5em;
            border-radius: var(--nice-border-radius);
            box-shadow: var(--shadow-elevation-2);
            border: 1px solid var(--card-border-color);
            z-index: 10;
            animation: open-tooltip 0.1s;

            .message-config-tooltip-entry {
                padding: 0.25em 0.5em 0.25em 0.5em;
                cursor: pointer;
                border-radius: var(--nice-border-radius);

                &.selected {
                    background-color: rgba(0, 0, 0, 0.15);
                }

                &:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                }

                &.emoji-entry {
                    display: flex;
                    align-items: center;
                    gap: 0.5em;

                    img {
                        object-fit: contain;
                    }
                }
            }
        }

        .message-popover-buttons {
            display: flex;
            justify-content: flex-end;
            gap: 0.5em;
            flex-wrap: wrap;
        }

        .message-config-popover {
            position: absolute;
            bottom: 100%;
            right: 0;
            background-color: var(--background-color);
            width: 300px;
            height: 300px;
            z-index: 1;
            box-shadow: var(--shadow-elevation-2);
            border-radius: var(--nice-border-radius);
            border: 1px solid var(--card-border-color);
            display: flex;
            flex-direction: column;
            padding: 0.5em;
            gap: 0.5em;
            animation: open-popover 0.2s;
            transform-origin: bottom right;

            @media (600px > width) {
                position: fixed;
                bottom: env(safe-area-inset-bottom, 0px);
                left: 0;
                width: 100vw;
                animation: open-popover-mobile 0.2s
            }

            .message-config-popover-content {
                height: 100%;
                flex-shrink: 1;
                overflow: auto;

                .message-config-list {
                    overflow: auto;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    background-color: var(--inset-background-color);
                    border-radius: var(--nice-border-radius);
                    border: 1px solid var(--card-border-color);

                    .message-config-list-entry {
                        padding-left: 0.5em;
                        padding-right: 0.5em;
                        padding-top: 0.5em;
                        padding-bottom: 0.5em;
                        cursor: pointer;
                        line-height: 1.4;
                        display: flex;
                        align-items: center;
                        gap: 0.25em;

                        &:hover {
                            background-color: rgba(0, 0, 0, 0.1);
                        }

                        svg {
                            width: 1em;
                            height: 1em;
                            flex-shrink: 0;
                        }
                    }
                }

                .message-config-emoji-grid {
                    overflow: auto;
                    height: 100%;
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(32px, 1fr) );
                    background-color: var(--inset-background-color);
                    border-radius: var(--nice-border-radius);
                    border: 1px solid var(--card-border-color);
                    gap: 0.25em;
                    justify-content: center;
                    padding: 0.25em;

                    img {
                        object-fit: contain;
                        width: 32px;
                        height: 32px;

                        &:hover {
                            background-color: rgba(0, 0, 0, 0.1);
                        }
                    }
                }

                .message-config-popover-filter-input-wrapper {
                    display: flex;
                    align-items: flex-end;
                }
            }
        }
    }
}

@keyframes open-popover {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  90% {
    transform: scale(1.01);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes open-popover-mobile {
    0% {
        transform: translateY(300px);
        opacity: 0;
    }
    90% {
        transform: translateY(5px);
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes open-tooltip {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// This is on the root level because we want to use these classes elsewhere
.message-preview-section {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    width: 100%; // This is required to make it have scrollbars when the container doesn't fit

    .message-preview-wrapper {
        width: 100%;
        height: fit-content;
        overflow: auto;
        border-radius: var(--nice-border-radius);
        border: 1px solid var(--card-border-color);
        background-color: var(--pure-background-color);

        .message-preview {
            padding: 1em;
            overflow: hidden;
            width: max-content;
            display: flex;
            flex-direction: column;
            gap: 1em;
        }
    }
}