.fill-loading-screen {
  display: flex;
  font-size: 2em;
  font-weight: bolder;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  img {
    width: 192px;
    image-rendering: pixelated;
    height: 192px;
    border-radius: 7px;
  }
}

.loading-section {
    display: flex;
    align-items: center;
    font-size: 2em;
    flex-direction: column;
    text-align: center;

    &.fill-content-loading-section {
        height: 100%;
        justify-content: center;
    }

    img {
        width: 192px;
        height: 192px;
        border-radius: 7px;
    }
}

.inline-loading-section {
    img {
        width: 1em;
        height: 1em;
        border-radius: 100%;
    }

    display: inline-flex;
    align-items: center;
    gap: 0.25em;
}