.loritta-spawner-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;

    .loritta-spawners {
        display: grid;
        gap: 1em;
        grid-template-columns: 1fr 1fr 1fr;

        .loritta-spawner {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.25em;
        }
    }
}