.modal-wrapper {
    position: fixed;
    top: 0; // These two should not be needed BUT who knows
    left: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100%; // We need to use 100% instead of 100vh because the footer of the modal gets "chopped off" due to the URL bar in Chrome Mobile
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: modal-background-opacity 0.3s;

    .modal {
        background-color: var(--background-color);
        color: var(--content-text-color);
        box-shadow: 0px 0px 10px #00000059;
        border-radius: var(--nice-border-radius);
        width: min(92vw, 860px);
        animation: modal-scale 0.2s;
        // Makes the modal not go over the top of the screen if it is too big
        margin-top: auto;
        margin-bottom: auto;

        &.small-modal {
            width: min(92vw, 480px);
        }

        &.large-modal {
            width: min(92vw, 1280px);
        }

        @media (max-width: 900px) {
            // Yeah, we need to override for each rule like this
            &.large-modal {
                width: 100%;
            }

            max-width: 100vw;
            width: 100%;
            overflow: scroll;
            max-height: 100%;
        }

        img {
            max-width: 100%;
        }

        .title {
            font-size: 2em;
            color: var(--loritta-blue);
            margin-bottom: 0.5em;
            text-align: center;
            font-weight: bold;
        }

        .content {
            padding: 2.5em;
            line-height: 1.58;
        }

        .buttons-wrapper {
            padding: 1em;
            background-color: var(--card-background-color);
            display: flex;
            justify-content: flex-end;
            gap: 1em;
            border-radius: 0px 0px 7px 7px;
        }

        .discord-button {
            &.secondary {
                color: #414141;
                background-color: rgba(0, 0, 0, 0.0);

                &:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
}

@keyframes modal-scale {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }
    70% {
        transform: scale(1.02);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes modal-background-opacity {
    0% {
      background-color: rgba(0, 0, 0, 0.0)
    }
    100% {
      background-color: rgba(0, 0, 0, 0.6)
    }
}

body {
    // Disallow scrolling the app wrapper while the modal is open
    &.modal-open {
        overflow: hidden;
    }
}