// Maybe, with what little power you have... You can SAVE something else.
.save-bar {
    color: white;
    display: flex;
    background-color: var(--loritta-blue);
    position: fixed;
    bottom: 1em;
    border-radius: var(--nice-border-radius);
    padding: 1em;
    box-shadow: var(--shadow-elevation-2), inset 0px 0.5px oklch(from var(--loritta-blue) calc(l + .1) c h);
    border: 1px solid var(--soft-border-color);
    justify-content: center;
    align-items: center;
    transform: translateY(100%) scale(1.025);
    z-index: 25;
    font-weight: bold;
    margin-top: auto;
    height: var(--save-bar-height);
    transition: background-color 1s 0.25s, box-shadow 1s 0.25s;

    // We can't use variables because we add and remove the class very quickly, so the variables are not "used" by the parent class
    &.attention {
        background-color: var(--loritta-red);
        box-shadow: var(--shadow-elevation-2), inset 0px 0.5px oklch(from var(--loritta-red) calc(l + .1) c h);
        transition: background-color 0s, box-shadow 0s;
    }

    .save-bar-small-text {
        display: none;
    }

    .save-bar-large-text {
        display: block;
    }

    // If the screen is too small, show the small text variant
    @media (max-width: 800px) {
        .save-bar-small-text {
            display: block;
        }

        .save-bar-large-text {
            display: none;
        }
    }

    .save-bar-buttons {
        margin-left: auto;
        display: flex;
        gap: 0.5em;
    }

    // We need two different animations because the browser will not animate if they are the same animation
    &.has-changes {
        animation: save-bar-has-changes-animation .25s ease-out forwards;
        animation-direction: normal;
    }

    &.no-changes {
        animation: save-bar-no-changes-animation .25s ease-out forwards;
        animation-direction: reverse;
    }

    &.initial-state {
        // ewwww, but it works!!
        opacity: 0 !important;
    }
}

.save-bar-reserved-space {
    // 1em = the padding of the save bar!
    height: calc(var(--save-bar-height) + 1em);
}

#right-sidebar-content-and-save-bar-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

// Yes, both are the same animation BUT we need to do it this way for CSS to think that it is a different animation to actually play it
@keyframes save-bar-has-changes-animation {
    0% {
        transform: translateY(100%) scale(1.025);
        opacity: 0;
    }
    80% {
        transform: translateY(-10%) scale(1.025);
        opacity: 1;
    }
    95% {
        transform: translateY(-5%) scale(1.025);
        opacity: 1;
    }
    100% {
        transform: translateY(0%) scale(1.025);
        opacity: 1;
    }
}

@keyframes save-bar-no-changes-animation {
    0% {
        transform: translateY(100%) scale(1.025);
        opacity: 0;
    }
    80% {
        transform: translateY(-10%) scale(1.025);
        opacity: 1;
    }
    95% {
        transform: translateY(-5%) scale(1.025);
        opacity: 1;
    }
    100% {
        transform: translateY(0%) scale(1.025);
        opacity: 1;
    }
}