.post-wrapper {
    margin-left: 1em;
    margin-right: 1em;

    .post-content {
        max-width: 45em;
        margin: auto;
        line-height: 1.8;
        font-size: 18px;

        // Makes the h1 tags not trigger a top overflow
        display: flex;
        flex-direction: column;

        img {
            max-width: 100%;
        }

        video {
            max-width: 100%;
        }

        // Avoids anchor points being behind the sticky header when snapping to them
        h1, h2, h3, h4 {
            scroll-margin-top: 50px;
        }

        .table-of-contents {
            line-height: 1.3;
            background-color: var(--background-wrapper-secondary);
            padding: 1em;
            border-radius: 7px;

            .toc-title {
                font-weight: bold;
                font-size: 1.5em;
                color: #29a6fe;
            }
        }

        @media screen and (max-width:900px) {
            font-size: 16px;
        }
    }

    .post-header {
        text-align: center;

        h1 {
            margin: 0;
            line-height: 1.5;
        }

        .post-info {
            font-size: 0.8em;
        }
    }
}