body {
    background-color: #1e1f22;
    color: #cbced1;
    margin: 0;
}

* {
    box-sizing: border-box;
}

:root {
    --discord-embed-background-color: #2b2d31;
    --discord-embed-pill-color: rgb(30, 31, 34);
    --divider-color: #3b3d44;
}

pre {
    font-family: 'JetBrains Mono';
    white-space: break-spaces;
}

// We want to use this whenever we want
.discord-inline-emoji {
    height: 1.5em;
    vertical-align: -0.4em;
}

.discord-mention {
    background-color: rgba(88, 101, 242, .1);
    color: #c9cdfb;
    font-weight: 600;
    transition: background-color .05s,color .05s;
    padding: 2px;
    border-radius: 3px;
}

a {
    color: #00a8fc;
    text-decoration: none;
}

code {
    padding: .1em .2em;
    border-radius: 4px;
    font-size: 85%;
    text-indent: 0;
    white-space: pre-wrap;
    background-color: #1e1f22;
}

.loritta-fancy-preview {
    padding: 1em;
    width: fit-content;
    font-family: Lato;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    gap: 0.5em;
}

.message-saved-by-loritta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 0.5em;
}

.message-saved-by-loritta-info {
    display: flex;
    flex-direction: column;
    max-width: 25em;
    align-items: end;
    text-align: end;
}

// A Discord-like message
.discord-message-sent-at-location {
    display: flex;
    gap: 0.5em;
    font-size: 0.75em;
    width: 100%;
    background-color: #313338;
    border-radius: 7px;
    padding: 0.5em;
    width: fit-content;
    align-items: center;
}

// A Discord-like message
.discord-message {
    display: flex;
    gap: 1em;
    width: 100%;
    background-color: #313338;
    border-radius: 7px;
    padding: 1em;

    p {
        // Showdown adds "p" for each rendered markdown text, so to avoid workarounds in code we are going to add workarounds... in CSS!
        // Just remove all the padding and margin from them
        padding: 0;
        margin: 0;
    }

    .discord-message-sidebar {
        .discord-message-avatar {
            display: flex;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }

    .footer-info {
        display: grid;
        grid-template-columns: 210px 1fr;
    }

    .discord-message-header {
        font-size: 1rem;
        font-weight: 500;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 0.3em;
        align-items: center;
        line-height: 1;
        padding-bottom: 0.25em;

        .discord-message-username-wrapper {
            display: flex;
            flex-direction: column;
        }

        .discord-message-username {
            font-size: 1rem;
            font-weight: 500;
            color: #f2f3f5;
        }

        .discord-message-bot-tag {
            background-color: var(--loritta-blue);
            color: white;
            font-weight: bold;
            border-radius: 0.1875rem;
            font-size: .625rem;
            padding: 0.3em 0.5em;
        }

        .discord-message-timestamp {
            font-size: 0.75rem;
            color: #90969f;
        }
    }

    .discord-message-text {
        // We don't use this because kotlinx.html pretty prints html, and that causes issues because technically there are \n between elements, causing unnecessary new lines
        // white-space: break-spaces; // Let's us use "\n" to break lines
    }

    .discord-message-accessories {
        display: grid;
        grid-auto-flow: row;
        grid-row-gap: 0.25rem;
        grid-template-columns: repeat(auto-fill,minmax(100%,1fr));

        .discord-embed {
            width: fit-content; // Only make the embed fit the embed content
            display: flex;
            padding: 1rem 1rem 1rem 0.75rem;
            max-width: 520px;
            background-color: var(--discord-embed-background-color);
            font-size: 0.875rem;
            line-height: 1.125rem;
            overflow: hidden;
            // Embed Pill
            border-left: 4px solid var(--discord-embed-pill-color);
            border-radius: 4px;
            gap: 1em;

            .discord-embed-content {
                display: flex;
                flex-direction: column;
                gap: 8px;

                .discord-embed-author {
                    display: flex;

                    .discord-embed-icon {
                        margin-right: 8px;
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                    }

                    .discord-embed-text {
                        font-weight: 600;
                    }
                }

                .discord-embed-title {
                    font-size: 1rem;
                    font-weight: 600;
                }

                .discord-embed-fields {
                    display: grid;
                    grid-gap: 8px;

                    .discord-embed-field {
                        .discord-embed-field-name {
                            font-weight: 600;
                        }
                    }
                }

                .discord-embed-footer {
                    font-size: 0.75rem;
                    line-height: 1rem;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    gap: 0.5em;

                    .discord-embed-footer-icon {
                        border-radius: 50%;
                        width: 20px;
                        height: 20px;
                    }
                }

                .discord-embed-description {
                    line-height: 1.125rem;
                    font-size: 0.875rem;
                }
            }

            .discord-embed-image {
                max-width: 300px;

                img {
                    border-radius: 4px;
                }
            }

            .discord-embed-thumbnail {
                // This never shrinks
                width: 80px;
                flex-shrink: 0;

                img {
                    width: 100%;
                    border-radius: 4px;
                }
            }
        }

        .discord-components {
            display: flex;
            flex-direction: column;
            gap: 0.5em;

            .discord-action-row {
                display: flex;
                gap: 0.5em;
            }
        }

        .discord-message-attachments {
            display: flex;

            .discord-message-attachment {
                max-height: 350px;
                width: auto;
                border-radius: 4px;
            }
        }

        .discord-message-reactions {
            display: flex;
            gap: 0.5em;

            .discord-message-reaction {
                background-color: var(--interactive-element-background-color);
                padding: .125rem .375rem;
                border-radius: .5rem;
            }
        }
    }
}