@charset "utf-8";

@use "../../../../../loritta-bot-discord/src/main/sass-dashboard-v2/style.scss";


#translation-wrapper {
    background-color: var(--left-sidebar-background-color);
    color: var(--content-text-color);
    min-height: 100vh;

    hr {
        border-color: var(--content-divider-color);
    }

    #translation-content {
        background-color: var(--background-color);
        border-left: 1px solid var(--card-border-color);
        border-right: 1px solid var(--card-border-color);
        min-height: 100vh;

        max-width: 50em;

        &.table-content {
            max-width: 70em;
        }

        margin-left: auto;
        margin-right: auto;
        line-height: 1.58;
        // It was 5em before, now it is 4em, to allow more content to be visible in the join/leave sections
        // Also with 4em+, the color palette wraps to a new row and that looks fugly lmao
        padding-left: 4em;
        padding-right: 4em;
        padding-top: 1em;
        padding-bottom: 1em;

        @media (500px >= width) {
            padding-left: 1em;
            padding-right: 1em;
        }
    }
}

.translation-table-entry-header {
    background-color: #e4e7f2;
    padding-bottom: 8px;
    padding-top: 8px;
    word-wrap: anywhere;
    padding-left: 16px;
    padding-right: 16px;
    color: #5d6475;

    .section-header-grid {
        display: grid;
        grid-template-columns: 16px 1fr;
        word-wrap: anywhere;
        grid-column-gap: 8px;
        grid-row-gap: 4px;
        align-items: center;

        .section-icon {
            width: 16px;
            height: 16px;
            object-fit: contain;
            display: flex;
            flex-direction: column;
            align-items: center;

            svg {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.translation-table-entry-text {
    padding: 16px;

    .translation-controls {
        display: flex;
        gap: 8px;
        margin-top: 16px;
    }
}