@use "../placeholders/reset-link-styling";

.guild-overview-card {
    @extend %reset-link-styling;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f2f3f5;
    border-radius: 7px;
    transition-duration: 0.5s;
    min-width: 100px;
    min-height: 100px;
    justify-content: center;
    text-align: center;
    aspect-ratio: 1/1; // Makes all grid cells square
    will-change: transform;

    > .icon-wrapper {
        > img {
            height: 64px;
            // TODO: Because the style is applied waaaay too late, the transition is applied on page refresh
            border-radius: 50%;
            transition-duration: 0.5s;
        }
    }

    &:hover {
        box-shadow: 0px 0px 10px rgba(182, 182, 182, 0.7);
        transform: scale(1.05);

        // On hover, change the image border-radius too
        > .icon-wrapper > img {
            border-radius: 25%;
        }
    }
}