@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
#spa-loading-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: fixed;
  pointer-events: none;
  z-index: 999;
  animation-fill-mode: forwards;
}

#spa-loading-wrapper.loaded {
  animation-name: fade-out;
  animation-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.loading-spinner {
  color: var(--loritta-blue);
  width: 7vw;
  height: 7vw;
}

aside#left-sidebar > .entries .entry, .guild-overview-card {
  color: inherit;
  text-decoration: none;
}

.guild-overview-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f2f3f5;
  border-radius: 7px;
  transition-duration: 0.5s;
  min-width: 100px;
  min-height: 100px;
  justify-content: center;
  text-align: center;
  aspect-ratio: 1/1;
  will-change: transform;
}
.guild-overview-card > .icon-wrapper > img {
  height: 64px;
  border-radius: 50%;
  transition-duration: 0.5s;
}
.guild-overview-card:hover {
  box-shadow: 0px 0px 10px rgba(182, 182, 182, 0.7);
  transform: scale(1.05);
}
.guild-overview-card:hover > .icon-wrapper > img {
  border-radius: 25%;
}

.guild-overview-cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  gap: 1em;
  justify-content: space-between;
}

.section-header {
  background-color: #29a6fe;
  width: 100%;
  height: 250px;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
  contain: strict;
}
.section-header:after {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  box-shadow: 0px 0px 25px black inset;
  pointer-events: none;
}
.section-header > .user-guilds-wrapper {
  opacity: 0.7;
  filter: brightness(0.5) grayscale(1);
  position: absolute;
  width: 100%;
  height: 100%;
}
.section-header .guild-icon-wrapper {
  transition-duration: 0.5s;
  transform-box: fill-box;
  transform-origin: center center;
}
.section-header .guild-icon-wrapper:hover {
  transform: scale(1.05);
}
.section-header .guild-icon-wrapper > .guild-icon-priority-2 {
  filter: brightness(0.88);
}
.section-header .guild-icon-wrapper > .guild-icon-priority-3 {
  filter: brightness(0.75);
}
.section-header .guild-icon-wrapper > .guild-icon-priority-4 {
  filter: brightness(0.63);
}
.section-header .guild-icon-wrapper > .guild-icon-priority-5 {
  filter: brightness(0.5);
}
.section-header .guild-icon-wrapper > .guild-icon-priority-6 {
  filter: brightness(0.35);
}
.section-header .loritta-waving {
  filter: drop-shadow(0px 0px 4px #0000008c);
}

aside#mobile-left-sidebar > .hamburger-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

:root {
  --loritta-blue: #29a6fe;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

#wrapper {
  display: flex;
  min-height: 100vh;
  font-family: "Lato", "Arial", "sans-serif";
}

aside#mobile-left-sidebar {
  background: rgba(0, 0, 0, 0) linear-gradient(#00a8ff 0%, #0064ff 100%) repeat scroll 0% 0%;
  height: 50px;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 101, 255, 0.7) 0px 0px 15px;
  color: white;
}
@media (min-width: 1280px) {
  aside#mobile-left-sidebar {
    display: none;
  }
}
aside#mobile-left-sidebar > .hamburger-button {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
aside#mobile-left-sidebar > .hamburger-button > svg {
  padding: 16px;
}
aside#mobile-left-sidebar > .small-ad {
  display: none;
}
@media (min-width: 480px) {
  aside#mobile-left-sidebar > .small-ad {
    display: block;
  }
}

@keyframes sidebar-move {
  from {
    visibility: hidden;
    right: 100%;
  }
  to {
    visibility: visible;
    right: 0%;
  }
}
@keyframes toggle-sidebar-visibility {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
aside#left-sidebar {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  box-shadow: initial;
  z-index: 2;
  color: white;
  background: rgba(0, 0, 0, 0) linear-gradient(#00a8ff 0%, #0064ff 100%) repeat scroll 0% 0%;
  top: 0;
  height: calc(100% - 50px);
  position: fixed;
  transition-property: transform, box-shadow;
  transition-duration: 1s;
  width: 100%;
  transform: translate(-100%);
  will-change: transform, box-shadow;
}
@media (min-width: 600px) {
  aside#left-sidebar {
    max-width: 350px;
  }
}
aside#left-sidebar.is-open {
  visibility: visible;
  top: 0;
  left: 0%;
  box-shadow: rgba(0, 101, 255, 0.7) 0px 0px 15px;
  transform: translate(0%);
}
aside#left-sidebar.is-closed {
  animation: toggle-sidebar-visibility 1s;
}
@media (min-width: 1280px) {
  aside#left-sidebar {
    transform: translate(0%);
    visibility: visible;
    height: 100vh;
    min-width: 350px;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: rgba(0, 101, 255, 0.7) 0px 0px 15px;
  }
}
aside#left-sidebar > .entries {
  padding-left: 1em;
  padding-right: 1em;
  height: 100%;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #00c3ff #004ec8;
}
aside#left-sidebar > .entries > .divider {
  width: 100%;
  border: 1px solid #ffffff57;
}
aside#left-sidebar > .entries > .category {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
aside#left-sidebar > .entries .entry {
  opacity: 0.8;
  display: flex;
  transition-duration: 0.2s;
  align-items: center;
  gap: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  font-size: 16px;
}
aside#left-sidebar > .entries .entry:hover {
  opacity: 1;
}
aside#left-sidebar > .entries .entry > .icon {
  height: 24px;
  display: block;
}
aside#left-sidebar > .user-info-wrapper {
  background: rgba(0, 0, 0, 0) linear-gradient(#004fc9 0%, #0045b0 100%) repeat scroll 0% 0%;
  height: 60px;
}
aside#left-sidebar > .user-info-wrapper > .user-info {
  padding: 8px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}
aside#left-sidebar > .user-info-wrapper > .user-info > img {
  height: 32px;
  border-radius: 50%;
}
aside#left-sidebar > .user-info-wrapper > .user-info > .user-tag {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
aside#left-sidebar > .user-info-wrapper > .user-info > .user-tag > .name {
  font-weight: bold;
}
aside#left-sidebar > .user-info-wrapper > .user-info > .user-tag > .discriminator {
  opacity: 0.8;
  font-size: 0.75em;
}

section#right-sidebar {
  display: flex;
  width: 100%;
  max-width: 70em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}

aside#sidebar-ad {
  width: 160px;
  max-width: 160px;
  min-width: 160px;
  background-color: #c8c8c8;
  align-items: center;
  display: none;
}
@media (min-width: 1280px) {
  aside#sidebar-ad {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
