.cards {
    display: flex;
    gap: 1em;
    flex-direction: column;

    .card {
        background-color: var(--interactive-element-background-color);
        display: flex;
        padding: 1em;
        border-radius: var(--first-level-border-radius);
        position: relative;
        border: 1px solid var(--input-border-color);
        flex-direction: column;

        &.card-with-avatar-content-buttons {
            flex-direction: row;
            align-items: center;
            gap: 0.5em;

            @media (max-width: 700px) {
                flex-direction: column;
                text-align: center;
            }
        }
    }
}

.cards-with-header {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .card-header {
        border-radius: var(--first-level-border-radius);
        display: flex;
        align-items: center;
        justify-content: space-between;

        .card-header-info {
            display: flex;
            flex-direction: column;

            .card-header-title {
                font-size: 1.15em;
                font-weight: bolder;
            }

            .card-header-description {
                font-size: 0.85em;
            }
        }
    }
}