.state-tip {
    width: 1em;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: white;
    flex-shrink: 0;

    &.success {
        background-color: var(--loritta-green);
    }

    &.warn {
        background-color: var(--loritta-red);
    }

    svg {
        width: 0.75em; height: 0.75em;
    }

    // FontAwesome
    i {
        font-size: 0.75em;
    }
}